body{
    background-color: #beffcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #2AE455;
    border: 2px solid black;
}

.btn1{
    height: 40px;
    width: 80px;
    background-color: #044d15;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.btn1:active{
    margin-bottom: -37px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #7ff29a;
    color: black;
}

.about{
    margin-top: 85px;
    background-color: #2AE455;
    height: 250px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.abouttexts{
    width: 350px;
    text-align: center;
    size: 10px;
}

.mepic{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 20px;
    rotate: 10deg;
    display: inline-block;
    position: relative;
}

.pic{
    height: 170px;
    position: absolute;
    rotate: -10deg;
    top: -30px;
    left: -10px;
    border-bottom: 5px solid black;
    border-radius: 20px;
}

.skills{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.skill{
    background-color: pink;
    border-radius: 10px;
    margin: 10px;
    height: 80px;
    width: 550px;
    transform: skew(-20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 1000;
    font-size: 20px;
}

.skill-logo{
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    left: 15px;
}